.bradcam_bg_1 {
  background-image: url(../img/banner/bradcam_bg_1.jpg);
}
.bradcam_bg_2 {
  background-image: url(../img/banner/bradcam_bg_2.jpg);
}
.bradcam_bg_3 {
  background-image: url(../img/banner/bradcam_bg_3.jpg);
}
.bradcam_bg_4 {
  background-image: url(../img/banner/bradcam_bg_4.jpg);
}
.bradcam_bg_5 {
  background-image: url(../img/banner/bradcam_bg_5.jpg);
}
.bradcam_bg_6 {
  background-image: url(../img/banner/bradcam_bg_6.jpg);
}
.bradcam_bg_7 {
  background-image: url(../img/banner/bradcam_bg_7.jpg);
}
.bradcam_bg_8 {
  background-image: url(../img/banner/bradcam_bg_8.jpg);
}
.bradcam_bg_9 {
  background-image: url(../img/banner/bradcam_bg_9.jpg);
}
.bradcam_bg_10 {
  background-image: url(../img/banner/bradcam_bg_10.jpg);
}
.bradcam_bg_11 {
  background-image: url(../img/banner/bradcam_bg_11.png);
}
.breadcrumb_area {
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 352px;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #392C7D;
    opacity: 0.8;
    z-index: -1;
  }
  @media #{$tab} {
    height: 400px;
  }
  .breadcam_wrap {
    max-width: 620px;
    margin: 0 auto;
    &.width_730px {
      max-width: 730px;
    }
    span {
      font-size: 18px;
      font-weight: 500;
      color: $white;
      display: inline-block;
      margin-bottom: 18px;
      
    }
    h3 {
      font-size: 64px;
      font-weight: 700;
      color: $white;
      margin-bottom: 2px;
      text-transform: capitalize;
      @media #{$lg_device} {
        font-size: 50px;
      }
      @media #{$tab} {
        font-size: 35px;
      }
    }
  }
}
.breadcrumb_area2 {
  position: relative;
  z-index: 1;
  background-size: cover;
  height: 630px;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 150px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0b21;
    opacity: 0.4;
    z-index: -1;
  }
  @media #{$tab} {
    height: 400px;
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .breadcam_wrap {
    span {
      font-size: 18px;
      font-weight: 500;
      color: $white;
      display: inline-block;
      margin-bottom: 18px;
    }
    h3 {
      font-size: 60px;
      font-weight: 900;
      line-height: 76px;
      color: $white;
      @media #{$lg_device} {
        font-size: 50px;
        line-height: 66px;
      }
      @media #{$tab} {
        font-size: 35px;
        line-height: 51px;
      }
    }
  }
}
.custom_breadcam {
  background: transparent;
  justify-content: center;
  margin-bottom: 0;
  padding: 0px 0;
  .breadcrumb-item,
  a {
    font-size: 30px;
    font-weight: 400;
    color: #D6D6D6;
    text-transform: capitalize;
    letter-spacing: 0.04em;
    @media #{$tab} {
      font-size: 20px;
    }
    &:hover{
      color: $purple_color;
    }
  }
  .breadcrumb-item + .breadcrumb-item {
    padding-left: 9px;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 9px;
    color: #D6D6D6;
    content: "/";
  }
  .search_result_print_view_header_content::before {
    left: auto;
    right: 0;
}
.search_result_print_view_header_content {
  padding-left: 0;
  padding-right: 50px;
  @media #{$tab2} {
      padding-right: 0;
  }
}
}
