/*------------------------------------------------------------------
[Master Stylesheet] - [Table of contents]
 1. Theme default css 
 2. Header
 3. Mobile Menu
 4. About
 5. Services
 6. Chose
 7. Features
 8. Pricing
 9. Blog
10. bradcam
11. Counter
12. Testmonial
13. Team
14. Contact
15. services Details
16. project details
17. Error
18. Footer
------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                1.theme default css                         */
/* -------------------------------------------------------------------------- */

/*----------------------------------------------------*/
@import "varriable.scss";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "mixins.scss";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "extend";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "reset";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "btn.scss";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "title";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "animation";
/*----------------------------------------------------*/

/* -------------------------------------------------------------------------- */
/*                              main theme style                              */
/* -------------------------------------------------------------------------- */

/*----------------------------------------------------*/
@import "header";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "mobile_menu";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "_menu_animation";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "banner";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "cta";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "course";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "courses";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "testimoanial";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "brand";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "blog";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "services";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "category";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "team";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "about";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "counter";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "predefine";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "cart";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "course_details";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "quiz_details";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "error";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "login";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "pricing";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "instractor";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "contact";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "shop_cart";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "checkout";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "sidebar";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "dash_menu";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "dashboard";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "account_profile";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "bradcam";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "cat_menu";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "become_instarctor";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "package";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "footer";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "forum";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "calender";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "affiliate";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "pricing_plan";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "blog_details";
/*----------------------------------------------------*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "insta";
/*----------------------------------------------------*/
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "gallery";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "curriculumn";
/*----------------------------------------------------*/

/*----------------------------------------------------*/
@import "statement";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "explore";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "event";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "news";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "search_result";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "academic";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "event_details";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "feature";
/*----------------------------------------------------*/
/*----------------------------------------------------*/
@import "rtl";
/*----------------------------------------------------*/
